body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  rgb(238, 227, 227);
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 42, 42);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:  rgb(75, 74, 74);
     color: white;
}
#keys{
    display:grid ;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: rgb(83, 78, 78);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:rgb(104, 98, 98) ;
}
button:active{
    background-color:rgb(118, 113, 113) ;
}
.operator-btn{
    background-color: rgb(245, 171, 35);
}
.operator-btn:hover{
    background-color: orange;
}
.operator-btn:active{
    background-color: rgb(230, 165, 44);
}
